<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="net.sourceforge.ganttproject"
        name="Ganttproject Plug-in"
        version="2.0.0"
        provider-name="">

    <runtime>
        <library name="lib/*">
            <export name="*"/>
        </library>
        <library name="resources/">
            <export name="*"/>
        </library>
    </runtime>
    <requires>
        <import plugin="org.eclipse.core.runtime"/>
        <import plugin="biz.ganttproject.core"/>
        <import plugin="biz.ganttproject.app.libs"/>
    </requires>
    <extension-point id="l10n" name="LocalizationBundle"/>
    <extension-point id="exporter" name="Exporter"/>
    <extension-point id="importer" name="Importer"/>
    <extension-point id="chart" name="Chart"/>
    <extension-point id="OptionPageProvider" name="OptionPageProvider"/>
    <extension-point id="search" name="SearchService"/>
    <extension-point id="impex.htmlpdf.HTMLStylesheet" name="HTML Stylesheet"/>
    <extension-point id="impex.htmlpdf.PDFStylesheet" name="PDF Stylesheet"/>
    <extension-point id="impex.htmlpdf.itext.ITextStylesheet" name="IText Stylesheet"/>
    <extension-point id="impex.htmlpdf.FontDirectory" name="Font Directory"/>

    <extension point="org.eclipse.core.runtime.applications" id="GanttProject">
        <application>
            <run class="net.sourceforge.ganttproject.application.MainApplication"/>
        </application>
    </extension>
    <extension point="net.sourceforge.ganttproject.exporter">
        <exporter class="net.sourceforge.ganttproject.export.ExporterToImage"/>
        <exporter class="net.sourceforge.ganttproject.export.ExporterToCSV"/>
        <exporter class="net.sourceforge.ganttproject.impex.htmlpdf.ExporterToHTML"/>
        <exporter class="net.sourceforge.ganttproject.impex.htmlpdf.ExporterToPDF"/>
    </extension>

    <extension point="net.sourceforge.ganttproject.impex.htmlpdf.HTMLStylesheet">
        <theme name="Samara" url="html-export-themes/samara/"/>
        <theme name="Default theme" url="html-export-themes/default/"/>
        <theme name="Striped Blue" url="html-export-themes/striped_blue/"/>
    </extension>
    <extension point="net.sourceforge.ganttproject.impex.htmlpdf.itext.ITextStylesheet">
        <theme name="Sortavala" url="itext-export-themes/sortavala.txt"/>
    </extension>
    <extension point="net.sourceforge.ganttproject.impex.htmlpdf.FontDirectory">
        <dir name="C:/windows/fonts" absolute="true"/>
        <dir name="/usr/share/fonts/truetype" absolute="true"/>
        <dir name="/System/Library/Fonts" absolute="true"/>
        <dir name="fonts"/>
    </extension>

    <extension
            point="net.sourceforge.ganttproject.importer">
        <importer class="net.sourceforge.ganttproject.importer.ImporterFromGanttFile"/>
        <importer class="net.sourceforge.ganttproject.importer.ImporterFromTxtFile"/>
        <importer class="biz.ganttproject.impex.csv.ImporterFromCsvFile"/>
        <importer class="biz.ganttproject.impex.ical.IcsFileImporter"/>
    </extension>
    <extension point="net.sourceforge.ganttproject.OptionPageProvider">
        <optionpageprovider class="biz.ganttproject.storage.cloud.ProjectPropertiesPageProvider"/>
        <optionpageprovider class="biz.ganttproject.platform.PlatformOptionPageProvider"/>
        <optionpageprovider class="net.sourceforge.ganttproject.gui.options.ExportCsvOptionPageProvider"/>
        <optionpageprovider class="net.sourceforge.ganttproject.gui.options.GanttChartOptionPageProvider"/>
        <optionpageprovider class="net.sourceforge.ganttproject.gui.options.InterfaceOptionPageProvider"/>
        <optionpageprovider class="net.sourceforge.ganttproject.gui.options.ProjectBasicOptionPageProvider"/>
        <optionpageprovider class="net.sourceforge.ganttproject.gui.options.ProjectCalendarOptionPageProvider"/>
        <optionpageprovider class="net.sourceforge.ganttproject.gui.options.ProjectRolesOptionPageProvider"/>
        <optionpageprovider class="net.sourceforge.ganttproject.gui.options.ResourceChartOptionPageProvider"/>
        <optionpageprovider class="net.sourceforge.ganttproject.document.NetworkOptionPageProvider"/>
        <optionpageprovider class="net.sourceforge.ganttproject.document.webdav.WebDavOptionPageProvider"/>
    </extension>

    <extension
            point="net.sourceforge.ganttproject.search">
        <searchservice class="net.sourceforge.ganttproject.search.TaskSearchService"/>
        <searchservice class="net.sourceforge.ganttproject.search.ResourceSearchService"/>
    </extension>

    <extension
        point="net.sourceforge.ganttproject.chart">
        <chart class="org.ganttproject.chart.pert.ActivityOnNodePertChart"/>
    </extension>

    <!--   <extension point="net.sourceforge.ganttproject.chart">
             <exporter class="net.sourceforge.ganttproject.chart.TestChart"/>
       </extension> -->

</plugin>
